h1 {font-family: Garamond, Times New Roman, serif;}

h2 {font-family: Helvetica, Arial, sans-serif;}

#nav-div {
    /* border: 4px solid purple; */
    margin: 4px;
}

#nav-ul {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-li a {
    border: 1px solid white;
    border-radius: 25%;
    width: 100px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    font-size: large;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
    transition-duration: .25s;
}

.nav-li a:hover {
    border: 1px solid white;
    background-color: white;
    color: black;
    transition-duration: .25s;
}


.nav-li a:active {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    font-weight: bold;
}

/* .nav-li a:focus {} */

#home-image-div {/* border: 2px solid green; */}

#image-logo {
    /* border: 3px dashed brown; */
    width: 500px;
    display: block;
    align-self: center;
    margin: auto;
}


#home-heading-div {
    /* border: 4px dashed purple; */
    text-align: center;
    margin: auto;
}

#home-h2-tag-line {
    /* border: 3px dotted orange; */
    font-variant: small-caps;
    font-weight: 10;
    font-style: normal;
    font-size: x-large;
}


#home-h1-required-div {
    /* border: 4px dashed purple; */
    text-align: center;
    margin: auto;
}

#home-h1-required {
    /* border: 3px dotted orange; */
    font-variant: small-caps;
    font-weight: 10;
    font-style: normal;
    font-size: x-large;
}

#home-h2-required-div {
    /* border: 4px dashed purple; */
    text-align: center;
    margin: auto;
}

#home-h2-required {
    /* border: 3px dotted orange; */
    font-variant: small-caps;
    font-weight: 10;
    font-style: normal;
    font-size: x-large;
}


#table-practice-h1 {
    text-align: center;
    }

table, th, td, caption {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 4in;
    height: 4in;
}


#table {
    margin: auto;
}
